body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 30px;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background: #222;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background: #00aaff;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #0088cc;
}

.result-img {
    width: 70%;
    border-radius: 10px;
    margin-top: 20px;
}
